@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --color1: rgb(219,144,.5);
    --color2: rgba(23, 180, 83, 0.877);
    --color3: rgba(11,194,211, 0.623);
    --fondo: #ff005e;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido:45px;
}
#nav{
    /*position: absolute;*/
    background: #f2f2f2;
    height: 80px;
    width: 100%;

    /*width: 100%;*/
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.8);
    z-index: 100;
}


label.logo{
    color: #f44336;
    font-size: 38px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.nav1 ul{
    float: right;
    margin-right: 60px;
}
.nav1 ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
}
.nav1 ul li a{
    /*color: #f2f2f2;*/
    color: #0a5275;
    font-weight: 500;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 27px;
        padding-left: 25px;
    }
    .nav1 ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
        margin-right: 40px;
        color: #0a5275;
    }
    /*.nav1{*/
    /*    background: #032A3F;*/
    /*}*/
    ul{
        position: absolute;
        width: 100%;
        height: 70vh;
        background: #dddddd;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
        opacity: 95%;
    }
    .nav1 ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    .nav1 ul li a{
        font-size: 20px;

    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section{
    /*background: url(bg1.jpg) no-repeat;*/
    background: #f2f2f2;
    background-size: cover;
    height: calc(100vh - 80px);
}
