
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    /*background: #333;*/
    margin:auto;
    padding: 0;
    box-sizing: border-box;
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 800px;*/
}
#idnav1{
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: 10vh;
    background: #032A3F;
    width: 100%;
    color: white;
    flex-wrap: wrap;

}
#idnav1 h1{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 32px;
    margin: 2px;
}

#idnav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-wrap: wrap;
    /*background: #032A3F;*/
    background: #032A3F;
    position: relative;
    width: 100%;
    margin: auto;
    z-index: 4 ;
}
.box{
    position: relative;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #032A3F;
    margin: 40px;
    border-radius: 10px 10px 10px 10px;
    /*top: 30px;*/
    /*bottom: 80px;*/
}
/*.box. glass{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    display: block;*/
/*    background: rgba(255,255,255,.1);*/
/*    pointer-events: none;*/
/*}*/
.box .content{
    padding: 20px;
    color: red;
}
.box:before{
    content: '';
    position: absolute;
    top:-1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: white;
    z-index: -1 ;
}
.box:after{
    content: '';
    position: absolute;
    top:-1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: white;
    z-index: -1;
    filter: blur(40px);
}
.box:nth-child(1):before,
.box:nth-child(1):after{
    background: linear-gradient(235deg, #2ba86f,#032A3F, #2ba86f);
}
.box:nth-child(2):before,
.box:nth-child(2):after{
    background: linear-gradient(235deg,#2ba86f,#032A3F,#2ba86f);
}
.box:nth-child(3):before,
.box:nth-child(3):after{
    background: linear-gradient(235deg,#2ba86f,#032A3F,#2ba86f);
}

.box:nth-child(4):before,
.box:nth-child(4):after{
    background: linear-gradient(235deg,#2ba86f,#032A3F,#2ba86f);
}
.box:nth-child(5):before,
.box:nth-child(5):after{
    background: linear-gradient(235deg,#2ba86f,#032A3F,#2ba86f);
}
.box:nth-child(6):before,
.box:nth-child(6):after{
    background: linear-gradient(235deg,#2ba86f,#032A3F,#2ba86f);
}
/*background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);*/
/*background: linear-gradient(235deg,#ff005e,#010615,#fbff00);*/
/*background: linear-gradient(235deg,#772aff,#010615,#2196f3);*/
.middle1{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}
/*.card{*/
/*    cursor: pointer;*/
/*    width: 340px;*/
/*    height: 480px;*/
/*}*/
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    height: 100%;

}
.front{
    transform: perspective(600px) rotateY(0deg);

}
.back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);

}
.back-content{
    color: #2c3e50;
    text-align: justify;
    padding: 30px;

    width: 100%;
}

.back-content h2{
    color: #f44336;
    margin: 7px;
    text-align: center;
    width: 100%;

}

.sm{
    margin: 20px 0;
    text-align: center;
}
.sm a{
    /*display: inline-flex;*/
    width: 80px;
    height: 40px;

    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    /*border-radius: 99%;*/
    padding: 5px;
}
.sm a:hover{
    background: #2c3e50;
    color: white;

}
.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}
/*///////////////////////////////////////////////////////////////////////////////////*/
.animado{
    opacity: 0;
    transition: all 0.5s;
}
.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}