*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

header{
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100vh;!*650*!*/
    /*background: #444;*/
    width: 100%;
    height:100vh;
    background: linear-gradient(to bottom,
    rgba(30, 30, 39, 0.62),
    rgba(3, 77, 115, 0.6),
    rgba(34, 68, 115, 0.45)
    ), url(../img/Dent18.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
/*///////////////////////////////////////////////////////////////////////////////////*/
#logo{
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 60px;
    /*background: #ccc;*/
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    color: #f1f1f1;

}
.Menu{
    position: absolute;
    background: #ccc;
    text-align: center;
    line-height: 32px;
    color:white;
}
#opcion1{
    top:22px;
    right: 20px;
    background: #032A3F;
    width: 130px;
    height: 30px;
}
#opcion2{
    top:22px;
    right: 160px;
    background: #032A3F;
    width: 150px;
    height: 30px;
}
#opcion3{
    top:22px;
    right: 320px;
    background: #032A3F;
    width: 150px;
    height: 30px;
}
#opcion4{
    top:22px;
    right: 480px;
    background: #032A3F;
    width: 120px;
    height: 30px;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
/*.titulo{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display:flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    color:#fff;*/
/*    overflow: hidden;*/
/*    text-align: center;*/
/*}*/
#ti1{

    color: #f1f1f1;
    font-size: 80px;/*14*/
    position: relative;
    top:250px;
    text-align: center;
    animation:mostrarArriba 1s ;
}
#ti2{
    color: #00bcd4;
    font-size: 60px;/*14*/
    position: relative;
    top:250px;
    text-align: center;
    animation:mostrarArriba 1s ;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
nav{
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 700px;*/
    /*background: #aaa;*/
    /*margin: auto;*/
}
/*///////////////////////////////////////////////////////////////////////////////////*/
#Maps{
    position: relative;
    width: 100%;
    height: 600px;
    background: #113A50;
    margin: auto;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
.animado{
    opacity: 0;
    transition: all 0.5s;
}
.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0);
    }
}